<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Autores</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive" style="max-height:390px; overflow-y:scroll">
          <table class="table">
            <thead class=" text-primary">
            <th>
              Ver
            </th>
            <th>
              Nombre
            </th>
            <th>
              Apellidos
            </th>
          </thead>
            <tbody>
              <tr *ngFor="let autor of lsAutors">
                <td style="width:5%" (click)="verAutor(autor)"><img src="https://cdn1.iconfinder.com/data/icons/material-set-5/48/404-512.png" style="width:50%"></td>
                <td>
                  {{autor.Nombres}}
                </td>
                <td>
                  {{autor.Apellidos}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div> <div class="col-md-12">
    <div class="card card-user">
      <div class="card-header">
        <h5 class="card-title">Información del autor</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="autorForm">
          <div class="row">
            <div class="col-md-6 pr-1">
              <div class="form-group">
                <label>Nombres</label>
                <input type="text" class="form-control" placeholder="Nombres" formControlName="nombres">
              </div>
            </div>
            <div class="col-md-6 pl-1">
              <div class="form-group">
                <label>Apellidos</label>
                <input type="text" class="form-control" placeholder="Apellidos" formControlName="apellidos">
              </div>
            </div>
          </div>
          <div class="row" *ngIf="peticionDatos">
            <div class="col-md-12 px-1">
              <div *ngIf="!estadoSolicitud" class="alert alert-danger alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove" (click)="peticionDatos = false"></i>
                </button>
                <span>
                  <b> Error - </b> No se pudo guardar la informacion del autor, por favor intente más tarde
                </span>
              </div>
            </div>
            <div class="col-md-12 px-1">
              <div *ngIf="estadoSolicitud" class="alert alert-success alert-dismissible fade show">
                <button type="button" aria-hidden="true" class="close" data-dismiss="alert" aria-label="Close">
                  <i class="nc-icon nc-simple-remove" (click)="peticionDatos = false"></i>
                </button>
                <span>
                  <b> Exito - </b> La información fue almacenada
                </span>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="update ml-auto mr-auto">
              <button type="submit" class="btn btn-primary btn-round" (click)="guardarAutor()">Guardar Información</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
